.playersContainer {
    padding: 10px;
}

.playerContainer {
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    margin: 20px;

    && input {
        font-size: larger;
        width: 50vw;
    }
}