

.playerContainer {
    margin: 5px;
}

.topBar {
    margin: 5px;
}

.playerName {
    border: none;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    width: 80%;
    max-width: 500px;
    font-size: larger;
}


.bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-wrap: wrap;

    & button {
        background-color: #4CAF50;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
    }

    & button:hover {
        background-color: #45a049;
    }

    & button.red {
        background-color: #e77350;
    }

    & button.red:hover {
        background-color: #c56142;
    }

    & .score {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 3rem;
        color: white;
        width: 40px;
        height: 40px;
        background-color: #4CAF50;
        margin: 6px;
        padding: 1rem;
    }
}

/* Flash animation */
@keyframes flash {
    0% {
      color: yellow;
    }
  }
  
  .flash {
    animation: flash 0.5s ease-out;
  }
  