.playerContainer {
    display: flex;
    color: white;
    align-items: center;
    height: 70px;
    padding: 5px 0px;
    border-bottom: 2px solid white;
}

.leftContainer, .rightContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    height: 90%;
    min-width: 110px;
    width: 40%;
    margin: 5px;
}

.playerName {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    overflow: hidden;
    width: 100%;
    margin-bottom: auto;
}

.buttonContainer {
    display: flex;
    width: 90%;
    
    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 5px;
    }

    button:hover {
        background-color: #45a049;
    }
}

.scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #45a049;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.resetContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    button {
        background-color: #e77350;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 5px;
    }

    button:hover {
        background-color: #c56142;
    }
}

